@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #003468;
  color: #fff;
}

.bg-img-container {
  background: url("/silueta.png"),
    linear-gradient(90deg, #5cb8ff 0%, #297bd9 100%);
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
}

@media (max-width: 920px) {
  .bg-container {
    background-size: auto 50%;
  }
}

body {
  @apply !min-w-full;
}

.fancy {
  font-family: var(--font-fraunces);
}
